# Pins external repositories used by Rhodium tests and downstream prototypes.
# SPDX-License-Identifier: Apache-2.0

[submodule "vlsi/double_wide_openframe"]
	path = vlsi/double_wide_openframe
	url = https://github.com/chipfoundry/double_wide_openframe.git
[submodule "sw/riscv-isa-tests"]
	path = sw/riscv-isa-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "sw/riscv-arch-test"]
	path = sw/riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test.git
	branch = act4
[submodule "sw/coremark"]
	path = sw/coremark
	url = https://github.com/eembc/coremark.git
[submodule "sw/embench-iot"]
	path = sw/embench-iot
	url = https://github.com/embench/embench-iot.git
[submodule "riscv/riscv-isa-sim"]
	path = riscv/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "sw/opensbi"]
	path = sw/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "sw/bringup-bench"]
	path = sw/bringup-bench
	url = https://github.com/toddmaustin/bringup-bench.git
[submodule "sw/litmus-tests-riscv"]
	path = sw/litmus-tests-riscv
	url = https://github.com/litmus-tests/litmus-tests-riscv.git
